# Aula 01 - Visão Geral e Preparação do ambiente SQL

## Índice

**1. Visão Geral e Preparação do Ambiente SQL**
<a name="ancora"></a>
* [1.1 Introdução](#ancora1.1)
* [1.2 Por que Postgres?](#ancora1.2)
* [1.3 Informações Adicionais](#ancora1.3)
* [1.4 Instalação](#ancora1.4)
* [1.5 Fundamentos da Arquitetura](#ancora1.5)
* [1.6 Criando um Banco de Dados](#ancora1.6)
* [1.7 Criando nosso Schema](#ancora1.7)
* [1.8 Primeiros comandos](#ancora1.8)

**2. Desafio:**
* [2.0 Fluxograma do Desafio](#ancora2.0)
* [2.1 Instalar o Postgres](#ancora2.1)
* [2.2 Criar o projeto Northwind local](#ancora2.2)
* [2.3 Executar as Queries:](#ancora2.3)
* [2.4 Sobre Psycopg3 em Python](#ancora2.4)
* [2.5 Importante](#ancora2.5)* 
* [2.6 Configuração Inicial](#ancora2.6)
* [2.7 Exemplo de Seleção Completa](#ancora2.7)
* [2.8 Usando o pandas para melhorar a visualização](#ancora2.8)
* [2.9 Seleção de Colunas Específicas](#ancora2.9)
* [2.10 Utilizando DISTINCT](#ancora2.10)
* [2.11 Cláusula WHERE](#ancora2.11)
* [2.12 ORDER BY](#ancora2.12)
* [2.13 Utilizando ILIKE e IN](#ancora2.13)
* [2.14 Encerrando da Conexão](#ancora2.14)

**3. Conclusão:**

* [3.1 Conclusão](#ancora3.1)

## Links Úteis

* [Instalação do PostgreSQL](https://www.enterprisedb.com/downloads/postgres-postgresql-downloads)
* [Documentação do PostgreSQL](https://www.postgresql.org/docs/current/index.html)
* [Documentação do psycopg3](https://www.psycopg.org/psycopg3/docs/)

<a id="ancora1.1"></a>
[voltar](#ancora).

## Introdução

Bem-vindos ao nosso workshop sobre SQL e PostgreSQL. Hoje, vamos mergulhar nos conceitos básicos de bancos de dados e como o PostgreSQL pode ser utilizado para gerenciar dados de forma eficiente. Nosso objetivo é garantir que todos vocês tenham uma boa base para explorar mais sobre SQL e operações de banco de dados nos próximos dias.

<a id="ancora1.2"></a>
[voltar](#ancora).

## Por que Postgres?

PostgreSQL é um sistema de gerenciamento de banco de dados relacional (RDBMS) desenvolvido no Departamento de Ciência da Computação da Universidade da Califórnia em Berkeley. POSTGRES foi pioneiro em muitos conceitos que só se tornaram disponíveis em alguns sistemas de banco de dados comerciais muito mais tarde:

* complex queries
* foreign keys
* triggers
* updatable views
* transactional integrity

Além disso, o PostgreSQL pode ser estendido pelo usuário de várias maneiras, por exemplo, adicionando novos

* data types
* functions
* operators
* aggregate functions
* index methods
* procedural languages
  
<a id="ancora1.3"></a>
[voltar](#ancora).

## Informações Adicionais 

Além do conteúdo do curso, recomendo alguns outros lugares para estudo.

[Documentação](https://www.postgresql.org/docs/current/index.html) Documentação oficial do Postgres, todas as features estão aqui.


[Wiki](https://wiki.postgresql.org/wiki/Main_Page) A wiki do PostgreSQL contém a lista de Perguntas Frequentes (FAQ), lista de tarefas pendentes (TODO) e informações detalhadas sobre muitos outros tópicos.

[Site](https://www.postgresql.org/) na Web O site do PostgreSQL fornece detalhes sobre a última versão e outras informações para tornar seu trabalho ou lazer com o PostgreSQL mais produtivo.

[Comunidade](https://github.com/postgres/postgres) O código O PostgreSQL é um projeto de código aberto. Como tal, depende da comunidade de usuários para suporte contínuo. À medida que você começa a usar o PostgreSQL, dependerá de outros para obter ajuda, seja através da documentação ou através das listas de discussão. Considere devolver o seu conhecimento. Leia as listas de discussão e responda às perguntas. Se você aprender algo que não está na documentação, escreva e contribua com isso. Se você adicionar recursos ao código, contribua com eles.

<a id="ancora1.4"></a>
[voltar](#ancora).

## Instalação

Antes de poder usar o PostgreSQL, você precisa instalá-lo, é claro. É possível que o PostgreSQL já esteja instalado em seu local, seja porque foi incluído na distribuição do seu sistema operacional ou porque o administrador do sistema já o instalou.

Se você não tem certeza se o PostgreSQL já está disponível ou se você pode usá-lo para suas experimentações, então você pode instalá-lo por conta própria. Fazer isso não é difícil e pode ser um bom exercício.

- Instalando o postgres Local
 
<a id="ancora1.5"></a>
[voltar](#ancora).

## Fundamentos da Arquitetura

Antes de prosseguirmos, é importante que você entenda a arquitetura básica do sistema PostgreSQL. Compreender como as partes do PostgreSQL interagem tornará tudo mais fácil.

No jargão de tecnologia, o PostgreSQL utiliza um modelo cliente/servidor. 

Um processo servidor, que gerencia os arquivos de banco de dados, aceita conexões com o banco de dados de aplicações cliente e executa ações no banco de dados em nome dos clientes. O programa do servidor de banco de dados é chamado de postgres.

A aplicação cliente do usuário (frontend) que deseja realizar operações de banco de dados. As aplicações cliente podem ser muito diversas em natureza: um cliente pode ser uma ferramenta orientada a texto, uma aplicação gráfica, um servidor web que acessa o banco de dados para exibir páginas web ou uma ferramenta especializada de manutenção de banco de dados. Algumas aplicações cliente são fornecidas com a distribuição do PostgreSQL; a maioria é desenvolvida pelos usuários.

Como é típico em aplicações cliente/servidor, o cliente e o servidor podem estar em hosts diferentes. Nesse caso, eles se comunicam por uma conexão de rede TCP/IP. Você deve ter isso em mente, porque os arquivos que podem ser acessados em uma máquina cliente podem não ser acessíveis (ou podem ser acessíveis apenas com um nome de arquivo diferente) na máquina do servidor de banco de dados.

O servidor PostgreSQL pode lidar com múltiplas conexões simultâneas de clientes. Para alcançar isso, ele inicia (“forks”) um novo processo para cada conexão. A partir desse ponto, o cliente e o novo processo servidor se comunicam sem intervenção do processo postgres original. Assim, o processo servidor supervisor está sempre em execução, aguardando conexões de clientes, enquanto os processos de clientes e servidores associados vêm e vão. (Tudo isso, é claro, é invisível para o usuário. Só mencionamos isso aqui para completude.)

<a id="ancora1.6"></a>
[voltar](#ancora).

## Criando um Banco de Dados

O primeiro teste para verificar se você pode acessar o servidor de banco de dados é tentar criar um banco de dados. Um servidor PostgreSQL em execução pode gerenciar vários bancos de dados. Tipicamente, um banco de dados separado é usado para cada projeto ou usuário.

Para isso vamos entrar dentro do nosso cliente `pgAdmin 4`

Também podemos nos conectar em servidores remoto, ex: `Render`

<a id="ancora1.7"></a>
[voltar](#ancora).

## Criando nosso Schema

![Northwind database](../img/ER.png)

Para este projeto, vamos utilizar um script SQL simples que preencherá um banco de dados com o famoso exemplo [Northwind](https://github.com/pthom/northwind_psql), adaptado para o PostgreSQL. Esse script configurará o banco de dados Northwind no PostgreSQL, criando todas as tabelas necessárias e inserindo dados de exemplo para que você possa começar a trabalhar imediatamente com consultas e análises SQL em um contexto prático. Este banco de dados de exemplo é uma ótima ferramenta para aprender e praticar as operações e técnicas de SQL, especialmente útil para entender como manipular dados relacionais em um ambiente realista.

<a id="ancora1.8"></a>
[voltar](#ancora).

## Primeiros comandos

Vamos agora para um guia introdutório para operações básicas de SQL utilizando o banco de dados Northwind. Cada comando SQL será explicado com uma breve introdução para ajudar no entendimento e aplicação prática.

#### Exemplo de Seleção Completa

Para selecionar todos os dados de uma tabela:

```sql
-- Exibe todos os registros da tabela Customers
SELECT * FROM customers;
```

#### Seleção de Colunas Específicas

Para selecionar colunas específicas:

```sql
-- Exibe o nome de contato e a cidade dos clientes
SELECT contact_name, city FROM customers;
```

#### Utilizando DISTINCT

Para selecionar valores distintos:

```sql
-- Lista todos os países dos clientes
SELECT country FROM customers;
-- Lista os países sem repetição
SELECT DISTINCT country FROM customers;
-- Conta quantos países únicos existem
SELECT COUNT(DISTINCT country) FROM customers;
```

#### Cláusula WHERE

Para filtrar registros:

```sql
-- Seleciona todos os clientes do México
SELECT * FROM customers WHERE country='Mexico';
-- Seleciona clientes com ID específico
SELECT * FROM customers WHERE customer_id='ANATR';
-- Utiliza AND para múltiplos critérios
SELECT * FROM customers WHERE country='Germany' AND city='Berlin';
-- Utiliza OR para mais de uma cidade
SELECT * FROM customers WHERE city='Berlin' OR city='Aachen';
-- Utiliza NOT para excluir a Alemanha
SELECT * FROM customers WHERE country<>'Germany';
-- Combina AND, OR e NOT
SELECT * FROM customers WHERE country='Germany' AND (city='Berlin' OR city='Aachen');
-- Exclui clientes da Alemanha e EUA
SELECT * FROM customers WHERE country<>'Germany' AND country<>'USA';
```

#### ORDER BY

Para ordenar os resultados:

```sql
-- Ordena clientes pelo país
SELECT * FROM customers ORDER BY country;
-- Ordena por país em ordem descendente
SELECT * FROM customers ORDER BY country DESC;
-- Ordena por país e nome do contato
SELECT * FROM customers ORDER BY country, contact_name;
-- Ordena por país em ordem ascendente e nome em ordem descendente
SELECT * FROM customers ORDER BY country ASC, contact_name DESC;
```

#### Utilizando LIKE e IN
Para busca por padrões e listas de valores:

```sql
-- Clientes com nome de contato começando por "a"
SELECT * FROM customers WHERE contact_name LIKE 'a%';
-- Clientes com nome de contato não começando por "a"
SELECT * FROM customers WHERE contact_name NOT LIKE 'a%';
-- Clientes de países específicos
SELECT * FROM customers WHERE country IN ('Germany', 'France', 'UK');
-- Clientes não localizados em 'Germany', 'France', 'UK'
SELECT * FROM customers WHERE country NOT IN ('Germany', 'France', 'UK');
```

# Desafio:

* [x] Instalar o Postgres
* [x] Criar o projeto Northwind local
* [x] Realizar todos os comandos acima

<a id="ancora2.0"></a>
[voltar](#ancora).

# Fluxo do desafio:

```mermaid
flowchart TD
  Win11([Windows 11]) --> |Installs| PostgreSQL{{PostgreSQL}}
  Win11 --> |Installs| PgAdmin{{PgAdmin}}
  PgAdmin --> |Creates| NorthwindDB(Northwind Database)
  
  UbuntuWSL2([Ubuntu WSL2]) --> |Hosts| Venv[.venv]
  Venv --> |Contains| JupyterLab{{Jupyter Lab}}
  JupyterLab --> |Uses| psycopg3{{psycopg3}}
  psycopg3 --> |Connects to| NorthwindDB
```

<a id="ancora2.1"></a>
[voltar](#ancora).

## Instalar o postgres:

[Link para instalação](https://www.enterprisedb.com/downloads/postgres-postgresql-downloads)

<a id="ancora2.2"></a>
[voltar](#ancora).

## Criar o projeto Northwind local

- Após a instalação acessar o **pgAdmin**: É uma ferramenta de administração que permite interagir com o PostgreSQL através de uma interface gráfica.
- No pgAdmin clique em `Servers` digite a senha, depois em `public` com o botão direito e `QueryTool`, Basta colar o conteúdo do arquivo src/norhwind.sql e depois em executar para criar as tabelas.

![northwind](../img/northwind_tutorial.png)

<a id="ancora2.3"></a>
[voltar](#ancora).

## Executar as Queries:

#### Embora seja possível realizar queries diretamente no pgAdmin, assim como foi feito para a criação das tabelas, optar por utilizar psycopg3 em JupyterLab oferece diversas vantagens. Aqui estão os principais motivos para essa escolha:

1. **Praticidade e Documentação:**
   - Utilizar JupyterLab permite documentar o processo e os resultados de forma clara e organizada. 
2. **Reprodutibilidade:**
   - Scripts escritos em JupyterLab podem ser executados repetidamente, garantindo que as consultas e análises possam ser replicadas com facilidade. 
3. **Integração com Python:**
   - JupyterLab oferece a capacidade de integrar as queries SQL com análises e manipulações de dados em Python. 
4. **Automatização:**
   - Com psycopg3 no JupyterLab, é possível automatizar a execução de queries e o processamento dos resultados. 
5. **Ambiente Interativo:**
   - JupyterLab oferece um ambiente interativo onde você pode testar e ajustar suas queries em tempo real.

<a id="ancora2.4"></a>
[voltar](#ancora).

## Um pouco Sobre a Biblioteca:

### psycopg3: Biblioteca para Conexão com PostgreSQL em Python

O `psycopg3` é a nova geração da biblioteca `psycopg` para conexão com PostgreSQL em Python. Ele traz várias melhorias em relação ao `psycopg2`, como uma melhor performance, suporte a programação assíncrona e uma API mais moderna.

#### Principais Características:

1. **Assíncrono**: Suporte a operações assíncronas usando `asyncio`.
2. **Performance**: Melhorias significativas em desempenho.
3. **API Moderna**: Interface atualizada e mais intuitiva.

#### Documentação

Para mais detalhes sobre o `psycopg3`, incluindo instalação, exemplos avançados e configurações, consulte a [documentação oficial do psycopg3](https://www.psycopg.org/psycopg3/docs/).

---

### Algumas verificações e instalações antes de iniciar:

In [3]:
# Verificando se o ambiente virtual está setado corretamente.
import site 
site.getsitepackages()

['/home/jcnok/bootcamps/bootcamp-jornada-de-dados_2024/bootcamp-SQL-e-analytics/aula_01/.venv/lib/python3.10/site-packages']

In [5]:
# Verificando e setando a raiz do projeto 
import os 
os.getcwd()
os.chdir("/home/jcnok/bootcamps/bootcamp-jornada-de-dados_2024/bootcamp-SQL-e-analytics/aula_01")

In [8]:
#Atualizando o pip
!pip install --upgrade pip

Requirement already satisfied: pip in ./.venv/lib/python3.10/site-packages (24.0)

In [9]:
#instalando o psycopg3
!poetry add "psycopg[binary]"

Using version ^3.1.19 for psycopg

Updating dependencies
Resolving dependencies... (0.8s)

No dependencies to install or update

Writing lock file

In [7]:
#instalando o pandas 
!poetry add pandas -q

<a id="ancora2.5"></a>
[voltar](#ancora).

## Importante:
* Foi necessário, acessar o windows firewall em configuração avançada e criar uma regra de entrada para a porta 5432
* Adicionar em C:\Program Files\PostgreSQL\16\postgresql.conf as informações: listen_addresses = '*'   # aceitar conexões de qualquer endereço IP
* Adicionar em C:\Program Files\PostgreSQL\16\pg_hba.conf as informações no final do arquivo: host    all     all     0.0.0.0/0          md5
* Pelo pronpt do windows digite: `ipconfig /all` e localize o ip da conexão WSL que será usado para o host do postgres, geralmente aparece como  'Adaptador Ethernet vEthernet (WSL (Hyper-V firewall))'

* obs: O postgresql foi instalado na pasta default do windows.

## Agora sim é possível realizar as queries:

## Abaixo estão os scripts para todas as consultas utilizando psycopg3 em Python.

<a id="ancora2.6"></a>
[voltar](#ancora).

### Configuração Inicial

Primeiro, vamos configurar a conexão com o banco de dados PostgreSQL:

In [21]:
import psycopg
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Conectar ao banco de dados PostgreSQL
conn = psycopg.connect("dbname=postgres user=postgres password=password host=172.25.224.1 port=5432")
cursor = conn.cursor()

<a id="ancora2.7"></a>
[voltar](#ancora).

### Exemplo de Seleção Completa

Para selecionar todos os dados de uma tabela:

In [24]:
# Exibe todos os registros da tabela Customers
cursor.execute("SELECT * FROM customers LIMIT 10;")
results = cursor.fetchall()
# Exibe os resultados
for result in results:
    print(result)

('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany', '030-0074321', '030-0076545')
('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', None, '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745')
('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', None, '05023', 'Mexico', '(5) 555-3932', None)
('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', None, 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750')
('BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Order Administrator', 'Berguvsvägen  8', 'Luleå', None, 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67')
('BLAUS', 'Blauer See Delikatessen', 'Hanna Moos', 'Sales Representative', 'Forsterstr. 57', 'Mannheim', None, '68306', 'Germany', '0621-08460', '0621-08924')
('BLONP', 'Blondesddsl père et fils', 'Frédérique Citeaux', 'Marketing Manager', '24, place Kléber', 'Strasbourg', None, '67000', 'France', '88.60.15.31', '88.60.15.32')
('BOLID', 'Bólido Comidas preparadas', 'Martín Sommer', 'Owner', 'C/ Araquil, 67', 'Madrid', None, '28023', 'Spain', '(91) 555 22 82', '(91) 555 91 99')
('BONAP', "Bon app'", 'Laurence Lebihan', 'Owner', '12, rue des Bouchers', 'Marseille', None, '13008', 'France', '91.24.45.40', '91.24.45.41')
('BOTTM', 'Bottom-Dollar Markets', 'Elizabeth Lincoln', 'Accounting Manager', '23 Tsawassen Blvd.', 'Tsawassen', 'BC', 'T2F 8M4', 'Canada', '(604) 555-4729', '(604) 555-3745')

<a id="ancora2.8"></a>
[voltar](#ancora).

## Usando o pandas para melhorar a visualização:

In [25]:
pd.read_sql("SELECT * FROM customers LIMIT 10;", conn)

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,None,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,None,05021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,None,05023,Mexico,(5) 555-3932,None
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,None,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,None,S-958 22,Sweden,0921-12 34 65,0921-12 34 67
5,BLAUS,Blauer See Delikatessen,Hanna Moos,Sales Representative,Forsterstr. 57,Mannheim,None,68306,Germany,0621-08460,0621-08924
6,BLONP,Blondesddsl père et fils,Frédérique Citeaux,Marketing Manager,"24, place Kléber",Strasbourg,None,67000,France,88.60.15.31,88.60.15.32
7,BOLID,Bólido Comidas preparadas,Martín Sommer,Owner,"C/ Araquil, 67",Madrid,None,28023,Spain,(91) 555 22 82,(91) 555 91 99
8,BONAP,Bon app',Laurence Lebihan,Owner,"12, rue des Bouchers",Marseille,None,13008,France,91.24.45.40,91.24.45.41
9,BOTTM,Bottom-Dollar Markets,Elizabeth Lincoln,Accounting Manager,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada,(604) 555-4729,(604) 555-3745

<a id="ancora2.9"></a>
[voltar](#ancora).

### Seleção de Colunas Específicas

Para selecionar colunas específicas:

In [28]:
# Exibe o nome de contato e a cidade dos clientes
cursor.execute("SELECT contact_name, city FROM customers;")
results = cursor.fetchall()

Outra forma de exibir o resultado em um dataframe tipo pandas:

In [31]:
#Exibe as colunas do resultado
[desc[0] for desc in cursor.description]

['contact_name', 'city']

In [32]:
#Exibindo o resultado:
pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

               contact_name         city
0              Maria Anders       Berlin
1              Ana Trujillo  México D.F.
2            Antonio Moreno  México D.F.
3              Thomas Hardy       London
4        Christina Berglund        Luleå
..                      ...          ...
86         Pirkko Koskitalo         Oulu
87            Paula Parente      Resende
88           Karl Jablonski      Seattle
89          Matti Karttunen     Helsinki
90  Zbyszek Piestrzeniewicz     Warszawa

[91 rows x 2 columns]

<a id="ancora2.10"></a>
[voltar](#ancora).

### Utilizando DISTINCT
Para selecionar valores distintos:

In [33]:
# Lista todos os países dos clientes
cursor.execute("SELECT country FROM customers;")
results = cursor.fetchall()
pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

    country
0   Germany
1    Mexico
2    Mexico
3        UK
4    Sweden
..      ...
86  Finland
87   Brazil
88      USA
89  Finland
90   Poland

[91 rows x 1 columns]

* Veja que ele trouxe países repetidos, com o distinct é possível trazer valores únicos.

In [34]:
# Lista os países sem repetição
cursor.execute("SELECT DISTINCT country FROM customers;")
results = cursor.fetchall()
pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

        country
0     Argentina
1         Spain
2   Switzerland
3         Italy
4     Venezuela
5       Belgium
6        Norway
7        Sweden
8           USA
9        France
10       Mexico
11       Brazil
12      Austria
13       Poland
14           UK
15      Ireland
16      Germany
17      Denmark
18       Canada
19      Finland
20     Portugal

In [36]:
# Conta quantos países únicos existem
cursor.execute("SELECT COUNT(DISTINCT country) FROM customers;")
result = cursor.fetchone()
print(f"Quantidade de países únicos: {result[0]}")

Quantidade de países únicos: 21

<a id="ancora2.11"></a>
[voltar](#ancora).

### Cláusula WHERE

Para filtrar registros:

In [37]:
# Seleciona todos os clientes do México
cursor.execute("SELECT * FROM customers WHERE country='Mexico';")
results = cursor.fetchall()
pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,None,05021,Mexico,(5) 555-4729,(5) 555-3745
1,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,None,05023,Mexico,(5) 555-3932,None
2,CENTC,Centro comercial Moctezuma,Francisco Chang,Marketing Manager,Sierras de Granada 9993,México D.F.,None,05022,Mexico,(5) 555-3392,(5) 555-7293
3,PERIC,Pericles Comidas clásicas,Guillermo Fernández,Sales Representative,Calle Dr. Jorge Cash 321,México D.F.,None,05033,Mexico,(5) 552-3745,(5) 545-3745
4,TORTU,Tortuga Restaurante,Miguel Angel Paolino,Owner,Avda. Azteca 123,México D.F.,None,05033,Mexico,(5) 555-2933,None

In [38]:
# Seleciona clientes com ID específico
cursor.execute("SELECT * FROM customers WHERE customer_id='ANATR';")
results = cursor.fetchall()
pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,None,05021,Mexico,(5) 555-4729,(5) 555-3745

In [39]:
# Utiliza AND para múltiplos critérios
cursor.execute("SELECT * FROM customers WHERE country='Germany' AND city='Berlin';")
results = cursor.fetchall()
pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,None,12209,Germany,030-0074321,030-0076545

In [40]:
# Utiliza OR para mais de uma cidade
cursor.execute("SELECT * FROM customers WHERE city='Berlin' OR city='Aachen';")
results = cursor.fetchall()
pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,None,12209,Germany,030-0074321,030-0076545
1,DRACD,Drachenblut Delikatessen,Sven Ottlieb,Order Administrator,Walserweg 21,Aachen,None,52066,Germany,0241-039123,0241-059428

In [41]:
# Utiliza NOT para excluir a Alemanha
cursor.execute("SELECT * FROM customers WHERE country<>'Germany';")
results = cursor.fetchall()
pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,None,05021,Mexico,(5) 555-4729,(5) 555-3745
1,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,None,05023,Mexico,(5) 555-3932,None
2,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,None,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
3,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,None,S-958 22,Sweden,0921-12 34 65,0921-12 34 67
4,BLONP,Blondesddsl père et fils,Frédérique Citeaux,Marketing Manager,"24, place Kléber",Strasbourg,None,67000,France,88.60.15.31,88.60.15.32
...,...,...,...,...,...,...,...,...,...,...,...
75,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Torikatu 38,Oulu,None,90110,Finland,981-443655,981-443655
76,WELLI,Wellington Importadora,Paula Parente,Sales Manager,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,(14) 555-8122,None
77,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115
78,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Keskuskatu 45,Helsinki,None,21240,Finland,90-224 8858,90-224 8858
79,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,None,01-012,Poland,(26) 642-7012,(26) 642-7012

In [42]:
# Combina AND, OR e NOT
cursor.execute("SELECT * FROM customers WHERE country='Germany' AND (city='Berlin' OR city='Aachen');")
results = cursor.fetchall()
pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,None,12209,Germany,030-0074321,030-0076545
1,DRACD,Drachenblut Delikatessen,Sven Ottlieb,Order Administrator,Walserweg 21,Aachen,None,52066,Germany,0241-039123,0241-059428

In [43]:
# Todos os clientes menos da Alemanha e EUA
cursor.execute("SELECT * FROM customers WHERE country<>'Germany' AND country<>'USA';")
results = cursor.fetchall()
pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,None,05021,Mexico,(5) 555-4729,(5) 555-3745
1,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,None,05023,Mexico,(5) 555-3932,None
2,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,None,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
3,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,None,S-958 22,Sweden,0921-12 34 65,0921-12 34 67
4,BLONP,Blondesddsl père et fils,Frédérique Citeaux,Marketing Manager,"24, place Kléber",Strasbourg,None,67000,France,88.60.15.31,88.60.15.32
...,...,...,...,...,...,...,...,...,...,...,...
62,VINET,Vins et alcools Chevalier,Paul Henriot,Accounting Manager,59 rue de l'Abbaye,Reims,None,51100,France,26.47.15.10,26.47.15.11
63,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Torikatu 38,Oulu,None,90110,Finland,981-443655,981-443655
64,WELLI,Wellington Importadora,Paula Parente,Sales Manager,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,(14) 555-8122,None
65,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Keskuskatu 45,Helsinki,None,21240,Finland,90-224 8858,90-224 8858
66,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,None,01-012,Poland,(26) 642-7012,(26) 642-7012

<a id="ancora2.12"></a>
[voltar](#ancora).

### ORDER BY

Para ordenar os resultados:

In [50]:
# Ordena clientes pelo país
cursor.execute("SELECT * FROM customers ORDER BY country;")
results = cursor.fetchall()
pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,OCEAN,Océano Atlántico Ltda.,Yvonne Moncada,Sales Agent,Ing. Gustavo Moncada 8585 Piso 20-A,Buenos Aires,None,1010,Argentina,(1) 135-5333,(1) 135-5535
1,CACTU,Cactus Comidas para llevar,Patricio Simpson,Sales Agent,Cerrito 333,Buenos Aires,None,1010,Argentina,(1) 135-5555,(1) 135-4892
2,RANCH,Rancho grande,Sergio Gutiérrez,Sales Representative,Av. del Libertador 900,Buenos Aires,None,1010,Argentina,(1) 123-5555,(1) 123-5556
3,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,None,8010,Austria,7675-3425,7675-3426
4,PICCO,Piccolo und mehr,Georg Pipps,Sales Manager,Geislweg 14,Salzburg,None,5020,Austria,6562-9722,6562-9723
...,...,...,...,...,...,...,...,...,...,...,...
86,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115
87,HILAA,HILARION-Abastos,Carlos Hernández,Sales Representative,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,Táchira,5022,Venezuela,(5) 555-1340,(5) 555-1948
88,LINOD,LINO-Delicateses,Felipe Izquierdo,Owner,Ave. 5 de Mayo Porlamar,I. de Margarita,Nueva Esparta,4980,Venezuela,(8) 34-56-12,(8) 34-93-93
89,LILAS,LILA-Supermercado,Carlos González,Accounting Manager,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,(9) 331-6954,(9) 331-7256
90,GROSR,GROSELLA-Restaurante,Manuel Pereira,Owner,5ª Ave. Los Palos Grandes,Caracas,DF,1081,Venezuela,(2) 283-2951,(2) 283-3397

In [51]:
# Ordena por país em ordem descendente
cursor.execute("SELECT * FROM customers ORDER BY country DESC;")
results = cursor.fetchall()
pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,GROSR,GROSELLA-Restaurante,Manuel Pereira,Owner,5ª Ave. Los Palos Grandes,Caracas,DF,1081,Venezuela,(2) 283-2951,(2) 283-3397
1,LILAS,LILA-Supermercado,Carlos González,Accounting Manager,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,(9) 331-6954,(9) 331-7256
2,HILAA,HILARION-Abastos,Carlos Hernández,Sales Representative,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,Táchira,5022,Venezuela,(5) 555-1340,(5) 555-1948
3,LINOD,LINO-Delicateses,Felipe Izquierdo,Owner,Ave. 5 de Mayo Porlamar,I. de Margarita,Nueva Esparta,4980,Venezuela,(8) 34-56-12,(8) 34-93-93
4,THEBI,The Big Cheese,Liz Nixon,Marketing Manager,89 Jefferson Way Suite 2,Portland,OR,97201,USA,(503) 555-3612,None
...,...,...,...,...,...,...,...,...,...,...,...
86,PICCO,Piccolo und mehr,Georg Pipps,Sales Manager,Geislweg 14,Salzburg,None,5020,Austria,6562-9722,6562-9723
87,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,None,8010,Austria,7675-3425,7675-3426
88,RANCH,Rancho grande,Sergio Gutiérrez,Sales Representative,Av. del Libertador 900,Buenos Aires,None,1010,Argentina,(1) 123-5555,(1) 123-5556
89,OCEAN,Océano Atlántico Ltda.,Yvonne Moncada,Sales Agent,Ing. Gustavo Moncada 8585 Piso 20-A,Buenos Aires,None,1010,Argentina,(1) 135-5333,(1) 135-5535
90,CACTU,Cactus Comidas para llevar,Patricio Simpson,Sales Agent,Cerrito 333,Buenos Aires,None,1010,Argentina,(1) 135-5555,(1) 135-4892

In [52]:
# Ordena por país e nome do contato
cursor.execute("SELECT * FROM customers ORDER BY country, contact_name;")
results = cursor.fetchall()
pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,CACTU,Cactus Comidas para llevar,Patricio Simpson,Sales Agent,Cerrito 333,Buenos Aires,None,1010,Argentina,(1) 135-5555,(1) 135-4892
1,RANCH,Rancho grande,Sergio Gutiérrez,Sales Representative,Av. del Libertador 900,Buenos Aires,None,1010,Argentina,(1) 123-5555,(1) 123-5556
2,OCEAN,Océano Atlántico Ltda.,Yvonne Moncada,Sales Agent,Ing. Gustavo Moncada 8585 Piso 20-A,Buenos Aires,None,1010,Argentina,(1) 135-5333,(1) 135-5535
3,PICCO,Piccolo und mehr,Georg Pipps,Sales Manager,Geislweg 14,Salzburg,None,5020,Austria,6562-9722,6562-9723
4,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,None,8010,Austria,7675-3425,7675-3426
...,...,...,...,...,...,...,...,...,...,...,...
86,HUNGC,Hungry Coyote Import Store,Yoshi Latimer,Sales Representative,City Center Plaza 516 Main St.,Elgin,OR,97827,USA,(503) 555-6874,(503) 555-2376
87,LILAS,LILA-Supermercado,Carlos González,Accounting Manager,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,(9) 331-6954,(9) 331-7256
88,HILAA,HILARION-Abastos,Carlos Hernández,Sales Representative,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,Táchira,5022,Venezuela,(5) 555-1340,(5) 555-1948
89,LINOD,LINO-Delicateses,Felipe Izquierdo,Owner,Ave. 5 de Mayo Porlamar,I. de Margarita,Nueva Esparta,4980,Venezuela,(8) 34-56-12,(8) 34-93-93
90,GROSR,GROSELLA-Restaurante,Manuel Pereira,Owner,5ª Ave. Los Palos Grandes,Caracas,DF,1081,Venezuela,(2) 283-2951,(2) 283-3397

In [53]:
# Ordena por país em ordem ascendente e nome em ordem descendente
cursor.execute("SELECT * FROM customers ORDER BY country ASC, contact_name DESC;")
results = cursor.fetchall()
pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,OCEAN,Océano Atlántico Ltda.,Yvonne Moncada,Sales Agent,Ing. Gustavo Moncada 8585 Piso 20-A,Buenos Aires,None,1010,Argentina,(1) 135-5333,(1) 135-5535
1,RANCH,Rancho grande,Sergio Gutiérrez,Sales Representative,Av. del Libertador 900,Buenos Aires,None,1010,Argentina,(1) 123-5555,(1) 123-5556
2,CACTU,Cactus Comidas para llevar,Patricio Simpson,Sales Agent,Cerrito 333,Buenos Aires,None,1010,Argentina,(1) 135-5555,(1) 135-4892
3,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,None,8010,Austria,7675-3425,7675-3426
4,PICCO,Piccolo und mehr,Georg Pipps,Sales Manager,Geislweg 14,Salzburg,None,5020,Austria,6562-9722,6562-9723
...,...,...,...,...,...,...,...,...,...,...,...
86,SPLIR,Split Rail Beer & Ale,Art Braunschweiger,Sales Manager,P.O. Box 555,Lander,WY,82520,USA,(307) 555-4680,(307) 555-6525
87,GROSR,GROSELLA-Restaurante,Manuel Pereira,Owner,5ª Ave. Los Palos Grandes,Caracas,DF,1081,Venezuela,(2) 283-2951,(2) 283-3397
88,LINOD,LINO-Delicateses,Felipe Izquierdo,Owner,Ave. 5 de Mayo Porlamar,I. de Margarita,Nueva Esparta,4980,Venezuela,(8) 34-56-12,(8) 34-93-93
89,HILAA,HILARION-Abastos,Carlos Hernández,Sales Representative,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,Táchira,5022,Venezuela,(5) 555-1340,(5) 555-1948
90,LILAS,LILA-Supermercado,Carlos González,Accounting Manager,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,(9) 331-6954,(9) 331-7256

<a id="ancora2.13"></a>
[voltar](#ancora).

### Utilizando ILIKE e IN

Para busca por padrões e listas de valores:

In [56]:
# Clientes com nome de contato começando por "a"
cursor.execute("SELECT * FROM customers WHERE contact_name ILIKE 'a%';")
results = cursor.fetchall()
pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,None,05021,Mexico,(5) 555-4729,(5) 555-3745
1,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,None,05023,Mexico,(5) 555-3932,None
2,EASTC,Eastern Connection,Ann Devon,Sales Agent,35 King George,London,None,WX3 6FW,UK,(171) 555-0297,(171) 555-3373
3,FAMIA,Familia Arquibaldo,Aria Cruz,Marketing Assistant,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,(11) 555-9857,None
4,GOURL,Gourmet Lanchonetes,André Fonseca,Sales Associate,"Av. Brasil, 442",Campinas,SP,04876-786,Brazil,(11) 555-9482,None
5,LAMAI,La maison d'Asie,Annette Roulet,Sales Manager,1 rue Alsace-Lorraine,Toulouse,None,31000,France,61.77.61.10,61.77.61.11
6,MORGK,Morgenstern Gesundkost,Alexander Feuer,Marketing Assistant,Heerstr. 22,Leipzig,None,04179,Germany,0342-023176,None
7,ROMEY,Romero y tomillo,Alejandra Camino,Accounting Manager,"Gran Vía, 1",Madrid,None,28001,Spain,(91) 745 6200,(91) 745 6210
8,SPLIR,Split Rail Beer & Ale,Art Braunschweiger,Sales Manager,P.O. Box 555,Lander,WY,82520,USA,(307) 555-4680,(307) 555-6525
9,TRADH,Tradição Hipermercados,Anabela Domingues,Sales Representative,"Av. Inês de Castro, 414",Sao Paulo,SP,05634-030,Brazil,(11) 555-2167,(11) 555-2168

In [57]:
# Clientes com nome de contato não começando por "a"
cursor.execute("SELECT * FROM customers WHERE contact_name NOT ILIKE 'a%';")
results = cursor.fetchall()
pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,None,12209,Germany,030-0074321,030-0076545
1,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,None,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
2,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,None,S-958 22,Sweden,0921-12 34 65,0921-12 34 67
3,BLAUS,Blauer See Delikatessen,Hanna Moos,Sales Representative,Forsterstr. 57,Mannheim,None,68306,Germany,0621-08460,0621-08924
4,BLONP,Blondesddsl père et fils,Frédérique Citeaux,Marketing Manager,"24, place Kléber",Strasbourg,None,67000,France,88.60.15.31,88.60.15.32
...,...,...,...,...,...,...,...,...,...,...,...
76,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Torikatu 38,Oulu,None,90110,Finland,981-443655,981-443655
77,WELLI,Wellington Importadora,Paula Parente,Sales Manager,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,(14) 555-8122,None
78,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115
79,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Keskuskatu 45,Helsinki,None,21240,Finland,90-224 8858,90-224 8858
80,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,None,01-012,Poland,(26) 642-7012,(26) 642-7012

In [58]:
# Clientes de países específicos
cursor.execute("SELECT * FROM customers WHERE country IN ('Germany', 'France', 'UK');")
results = cursor.fetchall()
pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,None,12209,Germany,030-0074321,030-0076545
1,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,None,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
2,BLAUS,Blauer See Delikatessen,Hanna Moos,Sales Representative,Forsterstr. 57,Mannheim,None,68306,Germany,0621-08460,0621-08924
3,BLONP,Blondesddsl père et fils,Frédérique Citeaux,Marketing Manager,"24, place Kléber",Strasbourg,None,67000,France,88.60.15.31,88.60.15.32
4,BONAP,Bon app',Laurence Lebihan,Owner,"12, rue des Bouchers",Marseille,None,13008,France,91.24.45.40,91.24.45.41
5,BSBEV,B's Beverages,Victoria Ashworth,Sales Representative,Fauntleroy Circus,London,None,EC2 5NT,UK,(171) 555-1212,None
6,CONSH,Consolidated Holdings,Elizabeth Brown,Sales Representative,Berkeley Gardens 12 Brewery,London,None,WX1 6LT,UK,(171) 555-2282,(171) 555-9199
7,DRACD,Drachenblut Delikatessen,Sven Ottlieb,Order Administrator,Walserweg 21,Aachen,None,52066,Germany,0241-039123,0241-059428
8,DUMON,Du monde entier,Janine Labrune,Owner,"67, rue des Cinquante Otages",Nantes,None,44000,France,40.67.88.88,40.67.89.89
9,EASTC,Eastern Connection,Ann Devon,Sales Agent,35 King George,London,None,WX3 6FW,UK,(171) 555-0297,(171) 555-3373
10,FOLIG,Folies gourmandes,Martine Rancé,Assistant Sales Agent,"184, chaussée de Tournai",Lille,None,59000,France,20.16.10.16,20.16.10.17
11,FRANK,Frankenversand,Peter Franken,Marketing Manager,Berliner Platz 43,München,None,80805,Germany,089-0877310,089-0877451
12,FRANR,France restauration,Carine Schmitt,Marketing Manager,"54, rue Royale",Nantes,None,44000,France,40.32.21.21,40.32.21.20
13,ISLAT,Island Trading,Helen Bennett,Marketing Manager,Garden House Crowther Way,Cowes,Isle of Wight,PO31 7PJ,UK,(198) 555-8888,None
14,KOENE,Königlich Essen,Philip Cramer,Sales Associate,Maubelstr. 90,Brandenburg,None,14776,Germany,0555-09876,None
15,LACOR,La corne d'abondance,Daniel Tonini,Sales Representative,"67, avenue de l'Europe",Versailles,None,78000,France,30.59.84.10,30.59.85.11
16,LAMAI,La maison d'Asie,Annette Roulet,Sales Manager,1 rue Alsace-Lorraine,Toulouse,None,31000,France,61.77.61.10,61.77.61.11
17,LEHMS,Lehmanns Marktstand,Renate Messner,Sales Representative,Magazinweg 7,Frankfurt a.M.,None,60528,Germany,069-0245984,069-0245874
18,MORGK,Morgenstern Gesundkost,Alexander Feuer,Marketing Assistant,Heerstr. 22,Leipzig,None,04179,Germany,0342-023176,None
19,NORTS,North/South,Simon Crowther,Sales Associate,South House 300 Queensbridge,London,None,SW7 1RZ,UK,(171) 555-7733,(171) 555-2530
20,OTTIK,Ottilies Käseladen,Henriette Pfalzheim,Owner,Mehrheimerstr. 369,Köln,None,50739,Germany,0221-0644327,0221-0765721
21,PARIS,Paris spécialités,Marie Bertrand,Owner,"265, boulevard Charonne",Paris,None,75012,France,(1) 42.34.22.66,(1) 42.34.22.77
22,QUICK,QUICK-Stop,Horst Kloss,Accounting Manager,Taucherstraße 10,Cunewalde,None,01307,Germany,0372-035188,None
23,SEVES,Seven Seas Imports,Hari Kumar,Sales Manager,90 Wadhurst Rd.,London,None,OX15 4NB,UK,(171) 555-1717,(171) 555-5646
24,SPECD,Spécialités du monde,Dominique Perrier,Marketing Manager,"25, rue Lauriston",Paris,None,75016,France,(1) 47.55.60.10,(1) 47.55.60.20
25,TOMSP,Toms Spezialitäten,Karin Josephs,Marketing Manager,Luisenstr. 48,Münster,None,44087,Germany,0251-031259,0251-035695
26,VICTE,Victuailles en stock,Mary Saveley,Sales Agent,"2, rue du Commerce",Lyon,None,69004,France,78.32.54.86,78.32.54.87
27,VINET,Vins et alcools Chevalier,Paul Henriot,Accounting Manager,59 rue de l'Abbaye,Reims,None,51100,France,26.47.15.10,26.47.15.11
28,WANDK,Die Wandernde Kuh,Rita Müller,Sales Representative,Adenauerallee 900,Stuttgart,None,70563,Germany,0711-020361,0711-035428

In [59]:
# Clientes não localizados em 'Germany', 'France', 'UK'
cursor.execute("SELECT * FROM customers WHERE country NOT IN ('Germany', 'France', 'UK');")
results = cursor.fetchall()
pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,None,05021,Mexico,(5) 555-4729,(5) 555-3745
1,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,None,05023,Mexico,(5) 555-3932,None
2,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,None,S-958 22,Sweden,0921-12 34 65,0921-12 34 67
3,BOLID,Bólido Comidas preparadas,Martín Sommer,Owner,"C/ Araquil, 67",Madrid,None,28023,Spain,(91) 555 22 82,(91) 555 91 99
4,BOTTM,Bottom-Dollar Markets,Elizabeth Lincoln,Accounting Manager,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada,(604) 555-4729,(604) 555-3745
...,...,...,...,...,...,...,...,...,...,...,...
57,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Torikatu 38,Oulu,None,90110,Finland,981-443655,981-443655
58,WELLI,Wellington Importadora,Paula Parente,Sales Manager,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,(14) 555-8122,None
59,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115
60,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Keskuskatu 45,Helsinki,None,21240,Finland,90-224 8858,90-224 8858
61,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,None,01-012,Poland,(26) 642-7012,(26) 642-7012

<a id="ancora2.14"></a>
[voltar](#ancora).

### Encerrando da Conexão

Por fim, feche o cursor e a conexão:

In [60]:
# Fecha o cursor e a conexão
cursor.close()
conn.close()

<a id="ancora3.1"></a>
[voltar](#ancora).

## Conclusão
Neste trabalho, demonstrei a utilização do psycopg3 para executar consultas SQL em um banco de dados PostgreSQL a partir de um ambiente JupyterLab. Ao optar por essa abordagem, além de simplesmente executar queries diretamente no pgAdmin, consegui documentar e organizar minhas consultas de forma mais estruturada e acessível.

Utilizar JupyterLab para este propósito proporciona diversas vantagens, como a capacidade de documentar o processo, garantir a reprodutibilidade das consultas, integrar facilmente com bibliotecas de análise de dados como pandas e automatizar tarefas repetitivas. Essas vantagens são essenciais para um fluxo de trabalho eficiente, especialmente em projetos de ciência de dados e desenvolvimento de software.

A configuração inicial da conexão com o banco de dados foi crucial para garantir a comunicação adequada entre o JupyterLab e o PostgreSQL. As várias consultas abordadas, desde seleções completas até filtros complexos com cláusulas WHERE, ORDER BY, LIKE e IN, ilustraram a flexibilidade e o poder do SQL para manipulação e análise de dados.